{% extends 'base1.html' %}

{% load static %}

{% block content %}

<div class="section-1">
    <br><br><br><br><br><br>
    <center>
        <div class="content" style="width: 450px;color: white;background-color: rgb(44, 44, 44);opacity: 80%;text-align: center;padding: 20px;border-radius: 10px;">
            <h1 style="color: white;">ABOUT US</h1>
            <p>
                Welcome to woo-newdavinci.alidropship.com. We are a team of enthusiastic developers and entrepreneurs who decided to convert their common experience into this web store. We hope you’ll like it as much as we do and have a great shopping experience here. Our prime goal is to create a shop in which you can easily find whatever product you need.
            </p>
        </div>
    </center>
</div>

<!-- &sacute; -->
<!-- <p>I will display &#x2300;</p> -->

<div class="section-2" style="text-align: center;">
    <br><br>
    <h2 style="font-weight: 100;">OUR CORE VALUES
    </h2>

    <div style="display: flex;justify-content: space-between;padding: 10px 130px 10px 130px;">
        <div style="width: 210px;">
            <div class="icon">
                <!-- <i class="fa-sharp fa-regular fa-paintbrush-pencil"></i> -->
                <!-- <img src="{% static 'img/paint.png' %}" alt=""> --> 
                <p style="font-size: 150px;background-color: rgb(247, 247, 247);border-radius: 100px;">&#x2300;</p>
            </div>
            <p>
                Be Adventurous, Creative, and Open-Minded
            </p>
        </div>
        <div style="width: 210px;">
            <div class="icon">
                <!-- <i class="fa-sharp fa-regular fa-paintbrush-pencil"></i> -->
                <!-- <img src="{% static 'img/paint.png' %}" alt=""> --> 
                <p style="font-size: 150px;background-color: rgb(247, 247, 247);border-radius: 100px;">&#x2300;</p>
            </div>
            <p>
                Be Adventurous, Creative, and Open-Minded
            </p>
        </div>
        <div style="width: 210px;">
            <div class="icon">
                <!-- <i class="fa-sharp fa-regular fa-paintbrush-pencil"></i> -->
                <!-- <img src="{% static 'img/paint.png' %}" alt=""> --> 
                <p style="font-size: 150px;background-color: rgb(247, 247, 247);border-radius: 100px;">&#x2300;</p>
            </div>
            <p>
                Be Adventurous, Creative, and Open-Minded
            </p>
        </div>
        <div style="width: 210px;">
            <div class="icon">
                <!-- <i class="fa-sharp fa-regular fa-paintbrush-pencil"></i> -->
                <!-- <img src="{% static 'img/paint.png' %}" alt=""> --> 
                <p style="font-size: 150px;background-color: rgb(247, 247, 247);border-radius: 100px;">&#x2300;</p>
            </div>
            <p>
                Be Adventurous, Creative, and Open-Minded
            </p>
        </div>
        <div style="width: 210px;">
            <div class="icon">
                <!-- <i class="fa-sharp fa-regular fa-paintbrush-pencil"></i> -->
                <!-- <img src="{% static 'img/paint.png' %}" alt=""> --> 
                <p style="font-size: 150px;background-color: rgb(247, 247, 247);border-radius: 100px;">&#x2300;</p>
            </div>
            <p>
                Be Adventurous, Creative, and Open-Minded
            </p>
        </div>
    </div>
</div>

<br><br><br><br><br>

<div class="section-3" style="background-color: white;text-align: center;padding: 50px 20px 50px 20px;border-radius: 5px;">
    <h2 style="font-weight: 100;">KEEP IN CONTACT WITH US</h2><br>
    <p style="width: 670px;margin-left: 310px;">We're continually working on our online store and are open to any suggestions. If you have any questions or proposals, please do not hesitate to contact us.
    </p><br>
    <button class="btn btn-primary">Start Shopping</button>
    <button class="btn btn-danger">Contact Us</button>
</div>

{% endblock content %}
