{% extends 'base1.html' %}

{% load static %}

{% block content %}

<div style="padding: 5px 40px 5px 40px;font-size: 14px;font-family:'Open Sans' sans-serif;">
    <br><h2 style="text-align: center;font-weight: 100;">PAYMENT METHODS</h2><br>
    <p>
        Payment methods include PayPal and Credit cards. <br><br>

        PayPal is a safer, easier way to send and receive money online. When you select PayPal as the payment method, you will be linked to the PayPal site where you can make payment. <br><br>
        
        PayPal can be used to purchase items by Credit Card (Visa, MasterCard, Discover, and American Express), Debit Card, or E-check (i.e. using your regular Bank Account). <br><br>
    </p>
    <ol>
        <li>After viewing your items on your shopping cart page, you can click and check out with PayPal. Then you will leave our site and enter PayPal’s website.</li><br>
        <li>You can sign in to your PayPal account, or you can create a new one if you haven’t got one.</li><br>
        <li>You can use the PayPal as you want according to the on-screen instructions.</li><br>
    </ol>
    <p>
        Usually, PayPal e-check will take 3-5 business days to be confirmed by PayPal. <br><br>

        The reasons why we suggest you use PayPal:  
    </p><br>

    <ul>
        <li>Payment is traceable. By using your PayPal account, you can trace the status of your payment.</li><br>
        <li>When you make payment for your order, you don’t need to use your credit card online (you can transfer directly from your bank account).</li> <br>
        <li>When you use your credit card through PayPal, nobody will see your credit card number, which will minimize the risk of unauthorized use.</li><br>
    </ul>
</div>

{% endblock content %}