{% extends 'base1.html' %}

{% load static %}

{% block content %}

<br><h2 style="font-weight: 200;text-align: center;letter-spacing: 0px;">FREQUENTLY ASKED QUESTIONS
</h2><br>

<div style="padding: 10px 50px 0px 50px;">
    <h4 style="font-weight: 200;font-size: 18px;">How to search products?
    </h4>
    <p>Search for products by entering the product name or keyword into the Search Bar at the top of any page. Try to enter a general description. The more keywords you use, the less products you will get in the results page. When you find a product you’re interested in, simply click the product name or the product image for more details.    </p>
    <br><br>
    <h4 style="font-weight: 200;font-size: 18px;">
        How are shipping costs calculated?
    </h4>
    <p>Shipping costs are calculated based on shipping method (air, sea or land) and product weight / volume. Different shipping companies have different rates, so it’s best to check and compare which is most affordable and economical. For more details on how shipping costs are calculated, please contact us directly.    </p>
    <br><br>
    <h4 style="font-weight: 200;font-size: 18px;">What is Buyer Protection?
    </h4>
    <p>Buyer Protection is a set of guarantees that enables buyers to shop with confidence on our website.    </p>
    <br>
    <p>You are protected when:</p><br>
    <ul>
        <li>The item you ordered did not arrive within the time promised by the seller.</li><br>
        <li>The item you received was not as described.</li><br>
        <li>The item you received that was assured to be genuine was fake.</li><br>
    </ul>
</div>

{% endblock content %}