{% extends 'base1.html' %}

{% load static %}

{% block content %}

<br><h2 style="text-align: center;font-weight: 100;">REFUNDS & RETURNS POLICY</h2><br>
<div style="padding: 5px 40px 5px 40px;font-size: 14px;font-family:'Open Sans' sans-serif;">
    <h4 style="font-weight: 500;">Order cancellation</h4>
    <p>
        All orders can be cancelled until they are shipped. If your order has been paid and you need to change or cancel it, you must contact us within 12 hours. Once the packaging and shipping process has started, it can no longer be cancelled.
    </p>
    <br>
    <h4 style="font-weight: 500;">Refunds</h4>
    <p>
        Your satisfaction is our #1 priority. Therefore, you can request a refund or reshipment for ordered products if:
    </p><br>
    <ul>
        <li>you do not receive them within the guaranteed time (45 days not including 2-5 day processing)</li><br>
        <li>you receive the wrong item</li><br>
        <li>you do not want the product you have received (but you must return the item at your expense and the item must be unused)</li>
    </ul><br>
    <p>We do not issue the refund if:</p><br>
    <ul>
        <li>your order does not arrive due to factors within your control (e.g. providing the wrong shipping address)</li><br>
        <li>your order does not arrive due to exceptional circumstances outside our control (e.g. not cleared by customs, delayed by a natural disaster).</li>
    </ul><br>
    <p>*You can submit refund requests within 15 days after the guaranteed period for delivery (45 days) has expired. You can do it by sending a message on <a href="#">Contact Us</a> page.</p>
</div>

{% endblock content %}