{% extends 'base1.html' %}

{% load static %}

{% block content %}

<br><h2 style="font-weight: 100;text-align: center;">SHIPPING & DELIVERY</h2><br>
<div>
    <div class="icon" style="display: flex;">
        <div class="icon" style="width: 150px;"></div>
        <div class="content">
            <h4>FREE SHIPPING</h4>
            <p>We are glad to bring our customers great value and service. That’s why we provide free shipping from our warehouses in China by ePacket or EMS and in USA by USPS.</p>
        </div>
    </div><br><br>
    <div class="icon" style="display: flex;">
        <div class="icon" style="width: 155px;"></div>
        <div class="content">
            <h4>SHIPPING TO OVER 200 COUNTRIES</h4>
            <p>We are proud to offer international shipping services. However, there are some locations we are unable to ship to. If you happen to be from one of those countries we will contact you.</p>
        </div>
    </div><br><br>
    <div class="icon" style="display: flex;">
        <div class="icon" style="width: 195px;"></div>
        <div class="content">
            <h4>CUSTOMS</h4>
            <p>We are not responsible for any custom fees once the items have shipped. By purchasing our products, you consent that one or more packages may be shipped to you and may get custom fees when they arrive to your country.</p>
        </div>
    </div><br><br>
    <div class="icon" style="display: flex;">
        <div class="icon" style="width: 150px;"></div>
        <div class="content">
            <h4>SHIPPING TIME</h4>
            <p>Shipping time varies by location. These are our estimates:</p>
            <table border="1" style="border: 1px solid rgb(216, 216, 216);text-align: center;">
                <tr>
                    <td style="padding: 20px;font-weight: bold;">Location</td>
                    <td style="padding: 20px 200px 20px 200px;font-weight: bold;">*Estimated Shipping Time</td>
                </tr>
                <tr>
                    <td style="padding: 20px 150px 20px 150px;">United States</td>
                    <td style="padding: 20px 150px 20px 150px;">10-30 Business days
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px 150px 20px 150px;">Canada, Europe	</td>
                    <td style="padding: 20px 150px 20px 150px;">10-30 Business days
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px 150px 20px 150px;">Australia, New Zealand	</td>
                    <td style="padding: 20px 150px 20px 150px;">10-30 Business days
                    </td>
                </tr>
                <tr>
                    <td style="padding: 20px 150px 20px 150px;">Mexico, Central America, South America	</td>
                    <td style="padding: 20px 150px 20px 150px;">15-30 Business days
                    </td>
                </tr>
            </table>
        </div>
    </div><br><br>
    <div class="icon" style="display: flex;">
        <div class="icon" style="width: 230px;"></div>
        <div class="content">
            <h4>TRACKING INFORMATION
            </h4>
            <p>
                You will receive an email with a tracking number once your order is shipped but sometimes due to free shipping tracking is not available. For logistical reasons, items in the same purchase may be sent in separate packages even if you’ve specified combined shipping.  <br><br>

If you have any other questions, please contact us and we will do our best to help you out.
            </p>
        </div>
    </div><br><br>
</div>

{% endblock content %}