{% extends 'base.html' %}
{% load static %}

{% block content %}

    <br><h2 style="text-align: center;font-weight: 200;">Wishlist</h2><br>

    <table style="width: 95%;margin-left: 2.5%;">
        <thead style="border: 1px solid rgb(226, 226, 226);">
            <tr width="1000">
                <td width="400" style="padding: 10px 20px 10px 80px;font-weight: bold;">Product name</td>
                <td width="200" style="padding: 10px 20px 10px 100px;font-weight: bold;">Unit price</td>
                <td width="200" style="padding: 10px 20px 10px 100px;font-weight: bold;">Stock status</td>
                <td width="200" style="padding: 10px 20px 10px 20px;font-weight: bold;"></td>
            </tr>
        </thead>
        <tbody>
            <tr style="border: 1px solid rgb(226, 226, 226);">
                <td>
                    <div style="display: flex;">
                        <img src="{% static 'img/product06.png' %}" width="120" alt="">
                        <a href="#" style="margin-top: 50px;margin-left: 15px;">Laptop dell 2020, best laptop, intel core i5, 128 GB, 16 GB ram</a>    
                    </div>
                    <a href="#" style="color: grey;margin-left: 30px;margin-bottom: 10px;">Remove</a>
                    <br><br>
                </td>
                <td>
                    <div style="display: flex;margin-left: 105px;margin-top: 0px;">
                        <p>$15</p>
                        <del style="margin-left: 5px;color: grey;">$20</del>
                    </div>
                </td>
                <td>
                    <p style="margin-left: 105px;">In Stock</p>
                </td>
                <td>
                    <a href="#" style="margin-left: 70px;">Select options</a>
                </td>
            </tr>
            <tr style="border: 1px solid rgb(226, 226, 226);">
                <td>
                    <div style="display: flex;">
                        <img src="{% static 'img/product07.png' %}" width="120" alt="">
                        <a href="#" style="margin-top: 50px;margin-left: 15px;">Mobile samsung 2014, best mobile, panteum 4, 26 GB, 4 GB ram, gamming</a>    
                    </div>
                    <a href="#" style="color: grey;margin-left: 30px;margin-bottom: 10px;">Remove</a>
                    <br><br>
                </td>
                <td>
                    <div style="display: flex;margin-left: 105px;margin-top: 0px;">
                        <p>$5</p>
                        <del style="margin-left: 5px;color: grey;">$10</del>
                    </div>
                </td>
                <td>
                    <p style="margin-left: 95px;color: Red;">Out of Stock</p>
                </td>
                <td>
                    <a href="#" style="margin-left: 70px;">Select options</a>
                </td>
            </tr>
            <tr style="border: 1px solid rgb(226, 226, 226);">
                <td>
                    <div style="display: flex;">
                        <img src="{% static 'img/product09.png' %}" width="120" alt="">
                        <a href="#" style="margin-top: 50px;margin-left: 15px;">Camera rtegf, 128 GB ram, HD</a>    
                    </div>
                    <a href="#" style="color: grey;margin-left: 30px;margin-bottom: 10px;">Remove</a>
                    <br><br>
                </td>
                <td>
                    <div style="display: flex;margin-left: 105px;margin-top: 0px;">
                        <p>$15</p>
                        <del style="margin-left: 5px;color: grey;">$20</del>
                    </div>
                </td>
                <td>
                    <p style="margin-left: 105px;">In Stock</p>
                </td>
                <td>
                    <a href="#" style="margin-left: 70px;">Select options</a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock content %}